<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>
<div class="center">
  <section id="content">
    <div id="favorita" *ngIf="favorita">

      <h2 class="subheader">
        Pelicula Favorita
      </h2>
      <h3>{{ favorita.title | uppercase }}</h3>
      <h3>{{ favorita.year | espar }}</h3>
      <h3>{{ this.fecha | date: 'fullDate' }}</h3>

    </div>
    <h1 class="subheader">Peliculas</h1>
    <!-- <h2>{{ titulo }}</h2>
    <button (click)="cambiarTitulo()">Pulsame</button>

    <hr>

    <h2>Mostrar primera pelicula</h2>
    {{ peliculas[0].title }}
    <hr>
    <h2>Numero de peliculas</h2>
    <div *ngIf="peliculas.length <= 3">
      hay pocas peliculas:
    </div>
    <div *ngIf="peliculas.length > 3">
      hay muchas peliculas:
    </div>
    {{ peliculas.length }}
    <h2>Listado de peliculas</h2>
    <hr> -->
    <div id="articles" *ngIf="peliculas">
      <div *ngFor="let pelicula of peliculas; let i = index">
        <app-pelicula [pelicula]="pelicula" (marcarFavorita)="mostrarFavorita($event)"></app-pelicula>
      </div>
      <!-- aniadir articulos via js -->
    </div>
  </section>
  <app-sidebar></app-sidebar>
</div>
