<app-slider [nombre]="'Formulario'" [size]="'small'"></app-slider>
<div class="center">
  <section id="content">
    <h1 class="subheader">Formulario</h1>
    <div id="datos" *ngIf="user.nombre">
      <h2 class="subheader">Datos enviados</h2>
      <ul>
        <li>
          {{ user.nombre }}
        </li>
        <li>
          {{ user.apellidos }}
        </li>
        <li>
          {{ user.bio }}
        </li>
        <li>
          {{ user.genero }}
        </li>
      </ul>
    </div>
    <form #serForm="ngForm" action="" class="md-form" (ngSubmit)="onSubmit()">
      <!-- <span>{{ user.nombre }}</span>** -->
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <!-- directiva bidireccional [()] **-->
        <input type="text" name="nombre" id="" #nombre="ngModel" [(ngModel)]="user.nombre">
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellidos" id="" #apellidos="ngModel" [(ngModel)]="user.apellidos">
      </div>
      <div class="form-group">
        <label for="bio">Biografia</label>
        <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio"></textarea>
      </div>
      <div class="form-group radiobuttons">
        <input type="radio" name="genero" value="hombre" [(ngModel)]="user.genero" /> Hombre
        <input type="radio" name="genero" value="mujer" [(ngModel)]="user.genero" /> Mujer
        <input type="radio" name="genero" value="otro" [(ngModel)]="user.genero" /> No especificado
      </div>
      <div class="clearfix"></div>
      <input type="submit" value="Enviar" class="btn btn-success" name="" id="">
    </form>
  </section>
  <app-sidebar></app-sidebar>
</div>
